
<%= render 'list', book: @book, user: @user %>



<h2>Books</h2>

<% @books.each do |book| %>
<div>
  <p><%= image_tag book.user.get_profile_image(50,50) %></p>
  <p><%= book.user.name %></p>
  <p><%= book.title %></p>
  <p><%= book.body %></p>  
    <%if book.user == current_user %>
      <%= link_to "Edit", edit_book_path(book) %>
      <%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are You Sure?" %>
    <% end %>
    
</div>
<% end %>

