<div>
  <%= flash[:notice] %>
</div>

<%= render 'users/list', book: @book_new, user: @user %>

<h2>Book detail</h2>

<div>
  <p><%= image_tag @book.user.get_profile_image(30,30) %></p>
  <%= link_to user_path(@book.user.id) do %>
    <p><%= @book.user.name %></p>
  <% end %>
  <p>Title : <%= @book.title %></p>
  <p>Opinion : <%= @book.body %></p>
  
  <%if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are You Sure?" %>
  <% end %>
